<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Divine Monarchs Hex Map by @GingerKing</title>
    <meta name="description" content="Divine Monarchs Hex Map by @GingerKing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <ul id="hexGrid" ng-if="loading != true">
        <li class="hex" ng-repeat="t in ::tiles" ng-click="select(t.number)">
          <div class="hexIn" >
            <a class="hexLink" href="#">
              <img src="" alt="" />

            </a>
          </div>
        </li>
      </ul>
      <div ng-if="selected != undefined && loading != true">
        <div class="selected-box">
          <p>Name: {{selected.name}}</p>
          <p>DM: <select ng-model="selected.owner" ng-options="item as item.label for item in owners track by item.id"></select></p>
          <p>Number: {{selected.number}}</p>
          <p>Biome: <select ng-model="selected.biome" ng-options="item as item.label for item in biomes track by item.id"></select></p>
          <p>Weather: <select ng-model="selected.weather" ng-options="item as item.label for item in weathers track by item.id"></select></p>
          <p>Type: <select ng-model="selected.type" ng-options="item as item.label for item in types track by item.id"></select></p>
          <p>CR: <select ng-model="selected.rating" ng-options="item as item.label for item in ratings track by item.id"></select></p>
          <p class="button" ng-click="close()">CLOSE</p>
        </div>
      </div>
      <textarea class="objectText">{{tiles}}</textarea>
    </div>
  </body>
</html>
<script src="scripts.js" defer></script>