<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
  <title>Divine Monarchs Hex Map by @GingerKing</title>
  <meta name="description" content="Divine Monarchs Hex Map by @GingerKing">
  <meta name="google-signin-client_id" content="299441892540-kahbci33qig5lde0ul4l20uvpmgo349k.apps.googleusercontent.com">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- <script type="text/javascript" src="data.json"></script> -->
  <!-- <script type="text/javascript" src="firebaseconfig.js"></script> -->
  <script src="https://apis.google.com/js/api.js"></script>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <div class="header">Version {{version}} made by Ginger King</div>
    <button id="authorize_button" >Authorize</button>
    <button id="signout_button" >Sign Out</button>
    <!-- <div ng-init="FunCall()" class="header">Version {{version}} made by Ginger King</div> -->
    <ul id="hexGrid" >
      <li class="hex" ng-repeat="t in tiles" ng-click="select($index)">
        <div class="hexIn">
          <a class="hexLink" style="background:#{{t.color}};" href="#">
            <img src="" alt="" />
          </a>
        </div>
      </li>
    </ul>
    <div ng-if="selected != undefined">
      <div class="selected-box" ng-hide="admin">
        <div class="line">Tile {{selected.name}} (#{{selected.number}})</div>
        <div class="line">
          <div class="left">Owner:</div>
          <div class="right" >{{selected.owner}}</div>
        </div>

        <div class="line">
          <div class="left">Biome:</div>
          <div class="right" >{{selected.biome}}</div>
        </div>
        <div class="line">
          <div class="left">Weather:</div>
          <div class="right" >{{selected.biome}}</div>
        </div>
        <div class="line">
          <div class="left">Type:</div>
          <div class="right" >{{selected.biome}}</div>
        </div>
        <div class="line">
          <div class="left">CR:</div>
          <div class="right" >{{selected.biome}}</div>
        </div>
        <div class="line">
          <p class="button" ng-click="close()">CLOSE</p>
        </div>
      </div>
      <div class="selected-box" ng-if="admin">
        <div class="line">Tile {{selected.name}} (#{{selected.number}})</div>
        <div class="line">
          <div class="left">Owner:</div>
          <div class="right" ><select ng-model="selected.owner"
              ng-options="o as o.name for o in owners track by o.id"></select></div>
        </div>

        <div class="line">
          <div class="left">Biome:</div>
          <div class="right" ><select ng-model="selected.biome"
              ng-options="b as b for b in biomes"></select></div>
        </div>
        <div class="line">
          <div class="left">Weather:</div>
          <div class="right" ><select ng-model="selected.weather"
              ng-options="w as w for w in weathers"></select></div>
        </div>
        <div class="line">
          <div class="left">Type:</div>
          <div class="right" ><select ng-model="selected.type"
              ng-options="ty as ty for ty in types"></select></div>
        </div>
        <div class="line">
          <div class="left">CR:</div>
          <div class="right"><select ng-model="selected.rating"
              ng-options="r as r for r in ratings"></select></div>
        </div>
        <div class="line">
          <p class="button" ng-click="close()">CLOSE</p>
        </div>
      </div>
    </div>
    <!-- <div class="button" ng-if="admin" ng-click="clearCache()">Clear Data</div> -->
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>
  <script src="scripts.js" defer></script>
</body>

</html>