.mouse-section {
    border: 1px solid #F7F1CA;
    padding: 10px;
    margin: 15px auto;
    width: 90%;
    text-align: center;
    background-color: #BE7D2B;
}

.mouse-even,
.mouse-odd {
    min-height: 15px;
}

.mouse-even {
    background-color: #E6C176;
}

.mouse-odd {
    background-color: #DFB96D;
}

.mouse-data_wrapper {
    border-radius: 5px;
    overflow: hidden;
}

input {
    margin: auto;
    border: none;
    background-color: #ffffff66;
    border-radius: 10px;
    text-align: center;
    min-height: 20px;
}

textarea {
    margin: auto;
    border: none;
    width: 95%;
    background-color: #ffffff66;
    border-radius: 10px;
    text-align: center;
    resize: none;
    overflow-x: hidden;
    min-height: 20px;
}

.mouse-section_header div {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.mouse-split {
    width: 49%;
    display: inline-block;
}


.mouse-section_title {
    color: #F7F1CA;
}

.mouse-fa {
    float: right;
}

.mouse-button {
    width: 10%;
    text-align: center;
    padding: 10px;
    border: 1px solid #F7F1CA;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.mouse-button:hover {
    border: 1px solid black;
    background-color: #F7F1CA;
}

.mouse-menu-header div {
    display: inline-block;
    margin: auto;
}


.mouse-table {
    display: table;
    text-align: center;
    margin: auto;
    table-layout: fixed;
}

.mouse-table .mouse-row {
    display: table-row;
    width: 100%;
}

.mouse-table .mouse-row .mouse-cell {
    display: table-cell;
    padding: 4px 6px;
    width: auto;
    margin-bottom: 0;
    vertical-align: middle;
}

.mouse-table .mouse-row .mouse-cell .mouse-contents {
    background: #444;
    width: 100%;
}

.mouse-cell_input {
    width: 100%;
}

.mouse-main-wrap .mouse-container {
    box-sizing: border-box;
    position: absolute;
    padding: 50px 25px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #E4CA91;
    margin: auto;
    bottom: 0;
    color: black;
    width: 100%;
}

.mouse-table .mouse-row .mouse-cell.mouse-cell_age {
    width: 5%;
}